---
layout: page
title:  Talks and Conversations
---

    <section class="speak">
      <div class="showcase row" style="display: none" >
        <div class="col-md-8 offset-md-2">
          <figure id="holder" >
          </figure>
        </div>
      </div>

      <div class="alert alert-info alert-dismissible fade show col-md-8 offset-md-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
        <strong><i class="fa fa-user-secret"> </i>Psst!</strong>
        You can zoom a particular talk by
        clicking on its title.
      </div>      

      <div class="row" >
        <div class="col-sm-12">
          <div class="card-columns">
            {% for talk in site.data.media     %}
            {%   if talk.type == 'audio'       %}
            {%     include render_audio.html   %}
            {%   elsif talk.type == 'vlog'     %}
            {%     include render_vlog.html    %}
            {%   else                          %}
            {%     include render_video.html   %}
            {%   endif                         %}
            {% endfor                          %}
          </div>
        </div>
      </div>
    </section>



