body {
    line-height: 175%;
}

p {
    margin: 0 0 1.5em 0;
}

.hire-me p, .done p {
    margin: 0 0 1rem 0;
}

.hire-me p + ul, .done p + ul {
    margin: -1rem 0 0 0;
}

.hire-me ul, .done ul {
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 1rem;
}

a {
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #888;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.topbar-nav {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0 1rem 0 0;

    ul {
        margin: 0;

        li {
            display: inline-block;
            margin: 0;
            padding: 0px 5px 5px 5px;
            font-size: 0.8rem;
            line-height: 0.8rem;

            &.nav-current {
                box-shadow: 0px 0px 10px darkgoldenrod;
                border-radius: 0.6rem;
            }

            a {
                color:      #686;
                text-decoration: none;

                &:hover {
                    color:           #464;
                    text-decoration: underline;
                }
            }
        }
    }
}

.blog-nav {
    h4 {
        font-size: 0.9rem;
        margin: 0;
    }

    .sub-lines li {
        margin: 0 0 0.5rem 0;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid #e0e0e0;

        a {
            white-space: normal;
        }
    }

    .sub-cloud li {
        display: inline-block;
        margin: 0 1rem 0 0;
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 0;

        ul {
            padding: 0;
            margin: 0 0 1rem 0;
            font-weight: normal;
        }

        li {
            font-size: 0.8rem;
            line-height: 1rem;

            a {
                text-decoration: none;
                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                code {
                    white-space: nowrap;
                    background:  none;
                    border: none;
                    font-size: 115%;
                }
            }




        }
    }
}

.nav .nav-current:before {
    color: #fff;
}
.nav .nav-current a:after {
    content: " ";
    border-bottom: rgba(255,255,255,0.5) 1px solid;
    width: 100%;
    height: 1px;
}

.nav .nav-heading {
    display: block;
    line-height: 1.4;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    display: block;
    padding: 0;
    margin-top: 1.5rem;
    color: #aaa;
    text-transform: uppercase;
}


.nav a:link,
.nav a:visited {
    color: #B8B8B8;
}

.nav li.nav-current a,
.nav a:hover,
.nav a:active,
.nav a:focus {
    color: #fff;
}


.nav li.sub-cloud ul li {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0;
}

.nav li.sub-cloud.by-year ul li {
    width: 4rem;
    margin: 0;
}


.content-head {
    background: #242;
    min-height: 5rem;
}


/* .nav ul { */
/*     list-style: none; */
/*     font-size: 80%; */
/*     text-align: right; */
/*     margin-right: 0.5rem; */
/* } */
/*  */
/* .nav ul li { */
/*     display: inline-block; */
/*     margin-left: 2.5rem; */
/* } */
/*  */
/* .nav ul li a { */
/*     text-decoration: none; */
/*     color: #575; */
/* } */
/*  */
/* .nav ul li a:hover { */
/*     color: #343; */
/*     border-bottom: 1px solid #67aCb9; */
/*  */
/* } */

pre {
    border-radius: .4em;
    border: 1px solid #aaa;
    line-height: 1.45em;
    font-size: 13px;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: #555;
    overflow: auto;
    background-color: #f0f0f0;

    code {
        background-color: #f0f0f0 !important;
        border: none !important;
    }
}

pre code {
    font-family: Menlo, Monaco,
                 "Andale Mono", "lucida console", "Courier New",
                 monospace !important;
}

header.site {
    margin: 12px 0 0 0;
    width: 100%;
    height: 109px;
    background: url("/images/banner-background-bar.png") repeat-x;
    position: relative;

    h1 {
        margin: 0;
        color: #A7DCC9;
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 12px;
    }


    @media (min-width: 992px) {
        h1 {
            transition: all 0.8s ease;
            padding-left: 250px;
            font-size: 36px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        h1 {
            transition: all 0.8s ease;
            padding-left: 200px;
            font-size: 28px;
        }
    }

    @media (max-width: 767px) and (min-width: 481px) {
        h1 {
            font-size: 22px;
            padding-left: 200px;
            transition: all 0.8s ease;
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 16px;
            transition: all 0.8s ease;
            padding-left: 140px;

        }
    }


    .logo {
        width: 139px;
        height: 109px;
        background: url("/images/gnome-in-circle.png") no-repeat;
        position: absolute;
        top: 0;
    }
}


article.hire-me {
    height: 100%;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    article.hire-me {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 3px dotted #cdc;
    }
}

.home h1 {
    padding: 1rem 0;
    margin-top: 2rem 0 1rem 0;
    font-size: 2rem;
    color: #888;
    font-weight: bold;
    text-align: center;
}

.home article h2 {
    margin: 0 0 1rem 0;
    color: #889;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
}

.carousel  .book-cover {
    height: 310px;
    width: auto;
}

.carousel .book-cover img {
    max-height: 300px;
    width: auto;
    border: 1px solid #eee;
    -webkit-box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    2px 3px 8px 0px rgba(0,0,0,0.75);
    box-shadow:         2px 3px 8px 0px rgba(0,0,0,0.75);
}


.row.title h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.row.what-ive-done {
    border-top: 1px solid #eee;
    padding-bottom: 1rem;
    margin-top: 2rem;
}




.row.home.links nav {
    margin-top: -1rem;

    ul.home-links {
        margin-top: 0.5rem !important;
        padding-top: 0rem;
        border-top: 1px solid #ddd;
        font-style: italic;
        font-size: 80%;

        li {
            display: inline-block !important;
            margin: 0 2rem 0 0;
            white-space: nowrap;

            &:before {
                display: inline-block;
                width: 1.3rem;
                white-space: nowrap;
                font: normal normal normal 14px/1 FontAwesome;
                content: "\f05a";
                color: #aba;
            }
        }
    }
}



.speak {

    @media (max-width: 640px) {
        .card-columns {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-gap: 0;
            -moz-column-gap: 0;
            column-gap: 0;
        }
    }

    @media (min-width: 641px) and (max-width: 1280px) {
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 1.25rem;
            -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
        }
    }

    @media (min-width: 1281px) {
        .card-columns {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-gap: 2rem;
            -moz-column-gap: 2rem;
            column-gap: 2rem;
        }
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: -0.07rem;
    }

    h2 {
        margin: 0;
        font-size: 1rem;
        color:  #aaa;
        letter-spacing: -0.05rem;
    }

    figcaption.header {
        padding-bottom: 0.7rem;
        padding-top:    1rem;
    }

    figcaption.footer {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .embed-responsive iframe {
        margin: 0;
    }

    .fig-desc {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin: 1rem 0 0 0;
        color: #246;

        p {
            margin-bottom: 0.5rem;
        }
    }

    .media-summary .links {
        margin: 1rem 0;

        a {
            text-decoration: underline;
        }
    }
}




article img, article video, article .flash-video, article .caption-wrapper {
    /* @extend .flex-content; */
    /* @extend .basic-alignment; */
    /* @include shadow-box; */
    /* &.caption { */
    /*     @include reset-shadow-box; */
    /* } */
}

.post {
    margin-top: 0;
}

.post-title {
    font-size: 2rem !important;
}

.post-content img {
    max-width: 100%;
}

.right {
    float: right;
    margin: 0 0 1rem 2rem;
}

.caption-wrapper {
    border: 1px solid silver;
    border-radius: 0.4em;
    padding: 0 0.4em;
    max-width: 50%;
}

article .caption-wrapper {
    display: inline-block;
    margin-bottom: 0.2em;

    .caption-text {
        background: white;
        text-align: center;
        font-size: 60%;
        line-height: 160%;
        color: #aaa;
        display: block;

        a {
            color: #88b;
        }
    }
}


.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #228B22 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight .cm { color: #228B22 } /* Comment.Multiline */
.highlight .cp { color: #1e889b } /* Comment.Preproc */
.highlight .c1 { color: #228B22 } /* Comment.Single */
.highlight .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #B452CD } /* Literal.Number */
.highlight .s { color: #CD5555 } /* Literal.String */
.highlight .na { color: #658b00 } /* Name.Attribute */
.highlight .nb { color: #658b00 } /* Name.Builtin */
.highlight .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight .no { color: #00688B } /* Name.Constant */
.highlight .nd { color: #707a7c } /* Name.Decorator */
.highlight .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #008b45 } /* Name.Function */
.highlight .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00688B } /* Name.Variable */
.highlight .ow { color: #8B008B } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #B452CD } /* Literal.Number.Float */
.highlight .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight .sc { color: #CD5555 } /* Literal.String.Char */
.highlight .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight .se { color: #CD5555 } /* Literal.String.Escape */
.highlight .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #00688B } /* Name.Variable.Class */
.highlight .vg { color: #00688B } /* Name.Variable.Global */
.highlight .vi { color: #00688B } /* Name.Variable.Instance */
.highlight .il { color: #B452CD } /* Literal.Number.Integer.Long */


.highlight {
    .p, .o { color: #067173 }
}

blockquote {
  font-size: 80% !important;
  color: #505058;
  border-left: 0.4em #798 solid;
  padding-left: 0.75em;
  margin-left: -0.75em;
}

.dt-audio {
    float: right;
    margin-left: 1em;
    margin-bottom: .75em;

    .dt-cover {
        background: #dde;
        text-align: center;

        img {
            -webkit-box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow:    2px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow:         2px 3px 8px 0px rgba(0,0,0,0.75);
        }
    }
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: #466;
    letter-spacing: 0px;
}

h1 {
    margin: 1.7rem 0 1.1rem 0;
}

h2 {
    margin: 1rem 0 0.8rem 0;
}

h3 {
    margin: 0.7rem 0 0.4rem 0;
}

h4 {
    margin: 0.7rem 0 0.4rem 0;
}


h1 code, h2 code, h3 code, h4 code {
    font-size: inherit !important;
    color: inherit !important;
    background: inherit !important;
    border:     none !important;
}


header.post-header {
    margin: 0 0 1rem 0 !important;
}

.post-meta {
    margin-top: 0.7rem !important;
    &, a, time {
        font-size: 1rem !important;
    }
}


.post-excerpt {
    font-size: 1rem;

    .read-more {
        font-size: 1.3rem;
        color: #8a8;

        &:hover {
            color: #474;
        }
    }
}

.author-image {
    margin-bottom: 0px;
}


footer.post-footer {
    clear: both;
    margin-top: 3rem;
    padding-top: 0;
    a, h4 {
        font-size: 1rem;
    }

    .share, .share a {
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0;

    }
}


.read-next {
    margin-top: 0;
    padding: 0;

    .summary {
        &, p {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }

        .card-header {
            margin-bottom: 0;
        }

        .card-block {
            margin: 0;
        }
    }
    .read-next-story .post {
        padding: 0;
        margin: 0;
    }

    h2 {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .read-more {
        font-size: 150%;
        color: #8a8;

        &:hover {
            color: #474;
        }
    }

    .read-next-story {
        background: inherit;
        color: #464;
    }
}

.footnotes {
    font-size: 0.9rem;
    line-height: 120%;
}

footer.post-meta {
    line-height: 1rem;
    margin-top: 0.5rem;
}

nav.article-tags {
    display: inline-block;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #d5dbde;
    text-transform: lowercase;
}

.post-date {
    border: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 0.8rem;
    text-transform: lowercase;
}




address.vcard {

    font-size: 150%;
    line-height: 200%;

    .hint {
        margin: 0;
        font-size: 60%;
        color: #aaa;
        line-height: 1rem;
        display: block;
    }


    dt {
        font-size: 80%;
        color: #696;
        width: 5rem;
    }

    dd {
        margin-left: 6rem;
    }

    a {
        text-decoration: underline;
    }

    dl {
        margin-bottom: 0;
        padding-bottom: 0;
    }


}



.home-template {

    background: #fafafa;
    background: -moz-linear-gradient(top,  #fafafa 0%, #e6e6e6 100%);
    background: -webkit-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 );

    .hometext {
        position: fixed;
        top: 10%;
        left: 10%;
        color: #cec;

        h4 {
            font-size: 5vw;
            color: #cec;
            margin-bottom: 13vh;
            text-shadow: 0px 0px 1px #9b9;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-position: inside;

        }

        a {
            font-size: 3vw;
            line-height: 6vw;
            color: #aba;
        }
    }
}