<header class="main-header">
  <div class="row bar">
    <div class="col-xs-12">
      <a href="/" title="Return to the main site">
        <span class="logo"></span>
      </a>
      <h1>{{ page.title | strip_html }}</h1>

      <nav id="search-trigger" role="search">
        <button type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#search-box"
                aria-label="popup search box">
          <i class="fa fa-search" ></i>
          <span class="word" >search</span>
        </button>
      </nav>

    </div>
  </div>
  <div class="row mh-slug">
    <h3 class="col-xs-12">code better • have fun</h3>
  </div>

  {% include search_form.html %}



</header>


