<figure class="card  media-summary media-audio">

  <figcaption class="card-header">
    <i class="fa fa-headphones" ></i>
    <h1>{{ talk.title }}</h1>
    {% if talk.sub %}
      <h2>{{ talk.sub }}</h2>
    {% endif %}
  </figcaption>

  <div class="links card-block">
  {% if talk.audio_link %}
    <audio src="{{ talk.audio_link }}" controls>
      Your browser does not support embedded audio. The audio is
      <a href="{{ talk.audio_link }}">here</a>.
    </audio>    
  {% elsif talk.site_link %}
    Visit the <a href="{{ talk.site_link }}">host's site</a> to listen.
  {% elsif talk.embed_html %}
    {{ talk.embed_html }}
  {% else %}
    don't know
  {% endif %}
  </div>

  <figcaption class="card-block">
    {% if talk.desc) %}
    <div class="fig-desc card-text">
      {{ talk.desc }}
    </div>
    {% endif %}
  </figcaption>

</figure>


