<figure class="card media-summary media-vlog" id="{{ talk.title | slugify }}">

  <figcaption class="card-block card-header">
    <i class="fa fa-television" ></i>
    <h1>{{ talk.title }}</h1>
    {% if talk.sub %}
    <h2>{{ talk.sub }}</h2>
    {% endif %}
  </figcaption>

  <div class="embed-responsive embed-responsive-16by9">
    {{ talk.html }}
  </div>

  <figcaption class="card-block">
    {% if talk.desc) %}
    <div class="fig-desc card-text">
      {{ talk.desc }}
    </div>
    {% endif %}
  </figcaption>
</figure>



