---
layout: post
title: "Prowling the ruins of ancient software"
date: 2003-07-29
comments: true
tags: []
---
Link: <a href="http://www.salon.com/tech/feature/2003/07/30/software_archaeology/">Prowling the ruins of ancient software</a>

    

{%blockquote%}
Famous programs from just a generation or two ago are in danger of
disappearing from human ken, forever.
{%endblockquote%}


Sam Williams recently interviewed Grady Booch, Ward Cunningham, and
myself about software archaeology; the issues surrounding preserving
and understanding existing software. Grady focused on the preservation
aspects, keeping archives of worthy software in museums. Ward and I
concentrated on the issues on understanding the code that you come
across (not just in a historical sense; this stuff is useful when
maintaining code that’s six months old). The resulting article in <a
href="http://www.salon.com/tech/feature/2003/07/30/software_archaeology/">Salon</a> is
fairly high level, but the underlying message is an important one.

