---
layout: post
title: "My Kind of Warranty"
date: 2003-10-14
comments: true
tags: []
---

Over on the ruby-talk mailing list, why the lucky stiff just announced
a new version of the Syck library (it reads and writes the
excellent <a href="http://www.yaml.org/">YAML</a> format). In his
announcement, he includes a warranty and a disclaimer:

{%blockquote%}
Some of this code is still beta software and here’s my disclaimer as
far as that goes: I’m not going to say “Use at your own risk” because
I don’t want this library to be risky. If you trip on something, I’ll
share the liability by repairing things as quickly as I can. Your
responsibility is to report the inadequacies.
{%endblockquote%}

That, my friends, is what a warranty should be.

