---
layout: post
title: "Tangled Up In Packing Tape"
date: 2003-10-13
comments: true
tags: []
---

It’s been a busy couple of months here as we prepare to launch our new
book-printing imprint, _The Pragmatic Bookshelf_. We spent the year
writing the first two books, _Pragmatic Version Control_ and_Pragmatic
Unit Testing_. The interesting part was what happened next.


We’d decided a while back that we were going to publish these books
ourselves. It wasn’t that we didn’t value our relationship with
Addison Wesley. We just wanted that bit of extra control that comes
from managing the entire process. So we found a printer, registered
for ISBNs and an imprint, typeset the books, got the covers designed,
worked with reviewers and a copy editor, and then finally sent the
whole mess off to be printed and bound. We thought the rest would be
easy.


Instead, we then spent weeks putting all the fulfillment options in
place. It turns out that while shopping cart software is easy to find,
decent, distributed fulfillment software that did what we needed was
not. I was determined not to fall into the trap of writing our own,
but (yet again) I lost that battle. Still, the result is fairly nice:
PDF orders are taken, shipped, and billed totally automatically, and
even physical orders are pretty straightforward: a Ruby script
downloads the details and coordinates the printing of a label
containing appropriate postage.


We put the <a
href="http://www.pragmaticprogrammer.com/starter_kit/index.html">site</a> live
yesterday (do drop by—we’re proud of these books), and so far things
are running fairly smoothly.


Apart from the paper cuts…

