---
layout: post
title: "Broken Raspberries"
date: 2004-04-12
comments: true
tags: []
---

I came across (yet another) example of real-life <a
href="http://www.pragmaticprogrammer.com/ppbook/extracts/no_broken_windows.html">broken
windows</a> last night.


I went to the supermarket about 6:30pm to buy some lettuce. Big
mistake. At that time of night it’s crowded, full of folks on their
way home. All the checkout lanes were four people deep, and every
employee was working a register. It was chaotic, and a high pressure
environment for those who worked there. Customers picked up on the
tension: everyone was a little on edge.


Then, three people ahead of me in line, a women dropped a box of
raspberries out of her cart. They spread out in a patch maybe 18”
across. The woman was embarrassed, and pointed out the spill to the
guy running the checkout. He craned his head to look, then looked at
the length of the line and the expression on the face of the person he
was serving. “I’m too busy to deal with that now,” he said. But he did
call out to the floor manager. She was on her way to start up a new
checkout, clearly harried. “No time” she called. So the raspberries
lay there. As the line moved forward, the woman tried to move the
raspberries out of the way, but she wasn’t too successful. In fact she
managed to squash a few of them. The next person in line also tried to
be careful, but his trolley ran over some, and got raspberry juice on
the wheels. And so it went. By the time I checked out, the raspberries
were a purple-red mess on the floor. The mess had spread from a small,
contained spot to a large stain, and there were red tracks leading
from the checkout to the two doors. The stains were already drying. It
was going to take someone a while to clean it all up.


On the way home, I thought “that’s another great ‘broken windows’
story.” Fail to fix something early, and reap a whole lot of extra
work later. Had the assistant said to the line: “Let me clean these up
before they get all over your shoes” and spent 30 seconds with a
broom, the problem would have gone away, and no one would have
complained. In fact, the customers would have left the store glad that
someone actually cleaned things up. Instead, we walked away with a bad
impression and red-stained shoes.


It’s the same on software projects. Even when (especially when) things
are chaotic and pressured, make the time to fix the small
stuff. Otherwise it’ll just become big stuff, and your customers will
end up seeing red.

