---
layout: post
title: "End of the Knowledge Worker?"
date: 2004-04-26
comments: true
tags: []
---

Knowledge work is dying. We all need to move up the ladder if we’re to
keep our jobs.


Andy and I give a talk called “Herding Racehorses, Racing Sheep.” It’s
about a theory called the _Dreyfus Model of Skill Acquisition_, and
about the impact of that theory on how we as an industry work.


Originally picked up by the nursing profession (and particularly in a
book by Benner—<a
href="http://www.amazon.com/exec/obidos/ASIN/0130325228/thepragmaticprog">From
Novice to Expert: Excellence and Power in Clinical Nursing
Practice</a>), the Dreyfus model is a fascinating explanation of how
we progress through levels of expertise in a particular area. We start
as novices, and as novices we need rules, guidance, rapid feedback,
and safe environments. As we serve our time as a novice we’re gaining
experience. Because of this, a subtle thing happens. Our brains
internalize the experiences and start building conceptual
frameworks. In turn, these frameworks start guiding how we do the
job. This in turn flavors the experience we get, and so a cycle
develops.


The net effect is that we start developing _intuition_ about what
we’re doing. This isn’t anything magical or innate. It’s simply a
manifestation of the existence of a fairly complex knowledge framework
in our heads—we _know_ what will happen when we do X because we have
all the information stored somewhere in our heads, and our neurons are
particularly good at parallel, associative lookup. The interesting
thing is that because the response is fashioned in our brains from
many sources by associative lookup, we can’t always say _why_ we know
what will happen. We just do, just as we know that an apple will fall
if we release it from our hand.


So, high-quality experience turns us from a novice to something
approaching an expert. We process information in a qualitatively
different way in the two states: novices need rules, experts need
concepts and contexts. Novices need external feedback, experts
generate their own. Stuff that works when teaching a novice drives an
expert up the wall, and vice-versa. Experts are often the worst
teachers of novices.


So why is something from nursing the subject of a talk to programmers?
Two reasons.


First, the nursing profession had a lot of problems in the 70’s. The
Benner book, and the Dreyfus model, is often quoted as being
instrumental in helping turn it around. And if you read the book,
you’ll see that the problems faced by nursing back then have strong
parallels to those faced by the software industry today.


But there’s a second reason it’s appropriate.


Novices need rules, but by the time you’re stepped a couple of rungs
up the Dreyfus ladder you’re relying less on rules and more on
interactions and contexts.


Now think about the current industry bogeyman: outsourcing. What can
companies effectively outsource? Stuff that can be specified
precisely. Stuff that has rules. This means that (in general) the jobs
of novices will be more at risk from outsourcing that those of
experts. Now, this is my no means a perfect model: companies outsource
projects that shouldn’t be outsourced, and companies have a strange
habit of firing their experienced people in bad times because their
salaries are 50% higher than the novices (why does no one ever account
for the cost of all that experience walking out the door?). But,
ignoring all the exceptions, in general we need to move away from the
low Dreyfus levels and start occupying the higher Dreyfus levels if we
are to to make ourselves less vulnerable to job evaporation. And
Dreyfus is all about the acquisition of skills through experience. The
second part of the talk is all about strategies for gaining that
experience.


We’re repeatedly told that in this brave new economy, we’ve all become
knowledge workers. That’s not good enough. Knowledge on its own is
just another commodity, and commodities tend to settle in places with
low costs of production. If we want to save our jobs, if we want to be
paid more for what we do, we have to be more than knowledge
workers. We have to parlay that knowledge into meaningful
experience. We have to be value workers.


To borrow a line from Jimi Hendrix, are you experienced?

