---
layout: post
title: "Weighty Matters"
date: 2005-11-22
comments: true
tags: []
---

A link on digg gets us to a page about Germany’s new <a
href="http://www.funonthenet.in/content/view/223/31/">Water
Bridge</a>, an impressive aquaduct.


So, today’s Thanksgiving dinner question: what happens to the load on
the bridge’s supporting columns as traffic enters an empty bridge? Do
they feel additional weight? Does the load on them stay the same?
(Please don’t e-mail me: just a question to get the family thinking.)

