---
layout: post
title: "Chad Fowlers Speaks!"
date: 2005-12-15
comments: true
tags: []
---

SysCon <a href="http://sys-con.tv/read/164481.htm">interviewed Chad Fowler</a> about <a href="http://www.pragmaticprogrammer.com/titles/mjwti/index.html">My Job Went to India</a>.


Lots of cool music talk too.

