---
layout: post
title: "The First Rails Studio"
date: 2005-11-20
comments: true
tags: [ "training" ]
---

{%imgcap right ./rsr_dt.jpg %}

It was an intense three days, but it’s over! We just finished the very
first <a href="http://pragmaticstudio.com/">Rails Studio</a> in sunny
(if chilly) Reston, VA. The site couldn’t have been better. <a
href="http://www.fgm.com/">FGM, Inc</a> hosted us, and they did us
proud. The meeting room was great (it even had windows :), and they
laid on a network and plenty of power (we were initially surprised at
how many folks came with laptops, but FGM came to the rescue with
additional power strips and we just squeaked by).


{%imgcap left ./rsr_mc.jpg %}
The course itself seemed to go really well. We learned a lot along the
way (Dave now knows not to start a new topic and delay lunch). We also
adapted the presentation style as we proceeded based on the prior
day’s feedback. This lead to probably the biggest overall lesson
learned. We originally had people coding along with us as we developed
our Rails application, but at some point or other just about everyone
went down a rabbit hole and had a hard time catching back up. Next
time we’ll have checkpoint versions of the application available so
everyone can sync back up before we move on to the next topic.


{%imgcap right ./rsr_studious.jpg %}
I think everyone came away having picked up a lot about Rails coding
(not to mention the “I’d Rather Be on Rails” bumper sticker and the
exclusive Golden Spike T-Shirt). On the final day, everyone coded
their own Rails application—some of these had components and Ajax
support!


We’ll be announcing the next studio shortly: we’re probably looking at
the west coast next, with a possible return to the east coast shortly
thereafter. In the meantime, there’s a bunch of pictures up on <a
href="http://www.flickr.com/photos/tags/railsstudioreston/">flickr</a> which
give a pretty good idea of the fun atmosphere.


Thank you, golden spike members, for coming along and making this a success…

