---
layout: post
title: "Failure and Surgeons"
date: 2005-02-27
comments: true
tags: improving
---

<a href="http://www.vanderburg.org/">Glenn Vanderburg</a> pointed me
at a wonderful article, <a
href="http://www.gladwell.com/1999/1999_08_02_a_genius.htm">The
Physical Genius</a> by Malcolm Gladwell, originally published in the
New Yorker in 1999.


In the middle, Gladwell is reporting on Charles Bosk, a sociologist
who interviewed doctors in an attempt to determine the factors that
differentiate successful from unsuccessful surgeons. Bosk says:



{%blockquote%}
In my interviewing, I began to develop what I thought was an indicator
of whether someone was going to be a good surgeon or not. It was a
couple of simple questions: Have you ever made a mistake? And, if so,
what was your worst mistake? The people who said, ‘Gee, I haven’t
really had one,’ or, ‘I’ve had a couple of bad outcomes but they were
due to things outside my control’—invariably those were the worst
candidates. And the residents who said, ‘I make mistakes all the
time. There was this horrible thing that happened just yesterday and
here’s what it was.’ They were the best. They had the ability to
rethink everything that they’d done and imagine how they might have
done it differently.
{%endblockquote%}


Thinking about how we might have done things differently is vital if
we’re to improve (or even survive, given the way the industry is
trending). If you live in a rut, the next cart that comes along is
likely to flatten you.

