---
layout: post
title: "Putting Code in Python Documentation"
date: 2005-04-06
comments: true
tags: []
---
To continue the thread, Rod Morehead gave me this <a
href="http://docs.python.org/lib/module-doctest.html">link</a> to
Python doctest, a utility that performs what are almost unit tests on
the code fragments in your Python docstrings.


Anyone in the Ruby community feel inspired?

