---
layout: post
title: "Our latest conference"
date: 2006-01-27
comments: true
tags: []
---
    
Andy and I have had to cut back on conferences this year, but it looks
like we’re making an exception for <a
href="http://www.waterfall2006.com/dogmatic.html">this one</a>.

