---
layout: post
title: "Rails Guidebook"
date: 2006-06-24
comments: true
tags: []
---

<a href="http://www.railsconf.org/">RailsConf 2006</a> is in its final
day, and I just realized that I hadn’t blogged on <a
href="http://railsconf.org/pages/guidebook">Rails Guidebook</a>

The Guidebook was a preconference event. For a day before the
conference proper started, attendees got an introduction to all the
stuff that’d be hearing about in the following days. It was a
combination of a tutorial and a glossary. We didn’t charge. Instead,
the cost of admission was a contribution to charity.

The Rails community raised over $8,000

This is wonderful stuff, and Mike and I thank everyone who made it
possible: the Ruby Central folks who agreed to add a day to the
agenda, Jay Zimmerman for organizing the facilities, the core team
members and other experts who turned up to help, Mike and Nicole for
doing all the Guidebook logistics, and, more importantly, the folks
who turned up and contributed.

### A Challenge

If you’re already organizing a conference, adding a guidebook day
ahead of it isn’t a great incremental cost. So, here’s a challenge to
conference organizers. Let’s start a tradition of these types of
charitable events. Let’s make a point of sharing some of our success
with others. Not only does it do some good—it’s fun.

