---
layout: post
title: "Paying Back"
date: 2007-05-21
comments: true
tags: []
---

# $33,000

That’s how much was raised in charitable donations during the course
of this weekend’s <a href="http://railsconf.com/">RailsConf</a>.

It started with the Rails Guidebook. This was a pre-conference all-day
tutorial intended to bring people up to speed in Rails, and to point
them towards interesting talks. We waived the fee, and asked for a
minimum donation of $75 from each attendee. The conference organizers
graciously donated the room and AV support. That event raised $12,000.

Then Chad Fowler took it to the next level. During his conference
introduction the next day, he threw down the gauntlet. As a result,
attendees continued to give.

### The Challenge

So the Rails Community has shown what’s possible. Let’s not let it
stop there. Everyone in our industry is privileged; we’re all way
better off than the folks being helped by these charities. So let’s
take this up to the next level. Let’s see if we can
make **all** industry conferences into fund raising events. It’s not
hard:

If you **run a conference**, set up a charitable giving site and
advertise it in the program and during the event. (The Pragmatic
Studio used <a href="http://www.justgive.org/">JustGive</a>). Sell off
extra T-Shirts (the way O’Reilly did during RailsConf) and donate the
proceeds.

Consider running a pre-conference Guidebook session. Attendees find
them really useful, they have a small marginal cost, and they raise a
lot of money. Your speakers will be keen to help out.

If you are **speaking at a conference**, consider donating your fee to
charity. Invite attendees to contribute too. If the conference isn’t
planning a charitable tie-in, push them to experiment with one. The
overhead is low, and the payback is great.

If you’re **attending a conference** that isn’t offering a charitable
tie-in, ask them why not. Point them to this blog post and to Mike
Clark’s <a
href="http://pragmaticstudio.com/cgi-bin/pragstudio.cgi/RailsConf07.rdoc">description
of RailsConf</a>. Tell the organizers that they can <a
href="mailto:dave@pragprog.com">contact me</a> if they’d like more
details.

Just imagine the difference we could make if, as an industry, we
turned each of these conferences into a chance to raise much needed
money for worthy charities. Imagine if, rather than getting yet one
more burlap bag with a sponsor’s name on it, you instead got a slip of
paper saying that the price of that bag was being used to buy vaccine
for 5 kids, or a book for a literacy project. Imagine what could
happen if a conference with 5,000 attendees raised just $20 per
attendee. Then imagine $50, or $100. It starts to get serious.

Let’s start paying back.

