---
layout: post
title: "Some Agile History"
date: 2007-02-24
comments: true
tags: []
---

I spent this afternoon reorganizing (ok, just organizing) my files. In
the process, I came across some of the notes I made in Snowbird back
in 2001.

That was when 17 mawgs[^1] who cared about projects and software got
together to discuss what were then called Lightweight
Methodologies. XP had just taken off, and SCRUM was making waves, and
we all wanted to see if there was enough common ground for us to
isolate some underlying principles. In the end, I think we did
something far more important—we isolated a set of four common values,
and wrote them up as the 
[Agile Manifesto</a>.](http://agilemanifesto.org).

As the conversation began to gel, I wrote down a short bullet list of
things we were saying:

{%img ./am1.jpg %}

Soon after, we broke for lunch. Martin Fowler and I were standing at
the whiteboard, trying to see if we could come up with a summary which
captured the mood of the room. I noticed that as we were talking we
often seemed to focus on what we didn’t like as much as on the values
we believed in, so we experimented with writing down our conversation
that way: _we prefer X over Y_. Gradually folks drifted over from the
lunch table and the conversation flowed. (The picture that Ward took
that forms the background on the Agile Manifesto site shows the group
clustered around the board). I think we sat down after lunch with five
bullets on the board. By the end of the afternoon, it was down to
four, plus an introduction. I copied the whiteboard into my notes too:

{%img ./am2.jpg %}

You can argue the implementation (I see some teams that use the word
“agile” when they really mean “chaotic”) , but the values still ring
true to me today. I think the Agile Manifesto has helped teams around
the world rethink their priorities, and in the process has helped
re-humanize software development.

And that’s as it should be.


[^1]:
    Middle-aged white guys

