---
layout: post
title: "SYWTWAB 2: The Hero's Journey"
date: 2007-03-05
comments: true
tags: [writing-a-book]
---

{%img right /img/quill.jpg %}

This is the second a series of personal notes to people who may be
thinking of writing (or who have embarked upon writing) a book. You’ll
be able to find them all (eventually) by selecting the tag <a
href="http://pragdave.pragprog.com/pragdave/writing_a_book/index.html">Writing A Book</a>.

There are many classic patterns of storytelling. One of the most
enduring, dating back to at least Greek mythology, is the Hero’s
Journey. These are tales of epic struggles and courageous resolutions.

Every Hero’s Journey follows the same basic plan. We start by meeting
the protagonist, an average person living a standard life. Suddenly,
something bad happens to them, normally something unimaginable and
outside their control. At this point, our character must make a
decision. Do they cave, or do they commit to face the challenge—do the
take a risk an embark on the journey?

Once they join the path, they face a series of challenges, often
getting harder or more complex as the story progresses. By overcoming
each, the hero gradually masters the initial problem.

But the story never ends there. Once the hero conquers all the
problems, they face one last challenge. They must return to the real
world, which often feels different to them. However, once back home,
they get to apply what they learned on their journey. They are
stronger.

These stories are so popular because the reader gets to identify with
the hero—the reader takes the same journey as the character.

What does this have to do with technical books?

**Everything.**

Because a good technical book is also a hero’s journey. The reader
joins the book already faced with a major challenge—they need to learn
some new technique or technology. Thy need to make a commitment to
follow the path. Along the way, they need to learn stuff, try things,
conquering increasingly difficult concepts and challenges. Eventually
they graduate; they’ve learned what they came to learn. But they
journey doesn’t end there. Like the hero, they then have to come home,
bringing back what they learned.


And good technical authors know this. They don’t structure their books
to follow the structure of the framework they’re describing. Instead
they structure them to follow the progress they want their readers to
take. They make sure the readers know what challenges they are facing,
and ensure that the reader is equipped to deal with each. The book
builds to a place where the reader understands all they need to know,
but it doesn’t stop there. It then brings the reader home, showing
them how to bring all his knowledge to bear back in the real world.


A good technical book has a narrative flow. In many of our books, we
try to make it explicit, starting the books with a story showing the
reader as hero. If we don’t make it explicit, we still try to follow
the basic hero’s journey.


Because if you do, you’ll always remember that **it’s the reader, not
the writer, who’s the hero of the book**.


Next we’ll look at the second half of plotting the Hero’s
Journey—knowing what challenges to give your readers, and when.

