---
layout: post
title: "Art in Programming"
date: 2007-10-16
comments: true
tags: []
---

Andy and I gave a talk a JAOO a few years back called _The Art n
Programming_. Since then, I’ve been giving variants around the world,
talking about the ways in which developers can learn from artists
(and, along the way, how we should avoid the false dichotomy of
art _vs._ engineering).

David Troy came up to me after and said that he’d heard that the
Museum of Modern Art in New York might be featuring two of his Rails
applications in an exhibition.

Now it’s <a
href="http://davetroy.blogspot.com/2007/10/moma-ny-selects-twittervision.html">official</a>: <a
href="http://twittervision.com/">Twittervision</a> and <a
href="http://flickrvision.com/">Flickrvision</a> will be on display
next year.

In his <a href="http://davetroy.blogspot.com/">blog announcement</a>,
David says:



{%blockquote%}
Today, creativity and imagination (what some folks are calling the
right brain) are becoming the key drivers of software and design. With
imagination, we can see around the corners of today’s most pressing
challenges. While technical skill is certainly valuable, if it’s
applied to the wrong problems, it’s wasted effort.

Creativity, imagination, and artistry help us identify the areas where
we should put our efforts. They help us see things in new ways.
{%endblockquote%}

Hear hear! I like to think of it as bringing balance back to a process
that for too long has been seen as some poor bastard child of
mathematics and engineering.

Software development is neither. Nor is it art. It’s just software
development. People who look for the “software is like _xxx_"
analogies are missing the point. Software develpment is like software
development. Let’s decide what works for us, and have fun while doing
it.



