---
layout: post
title: "The Passionate Programmer"
date: 2009-05-03
comments: true
tags: ["publishing"]
---

  

{%imgcap right ./the_passionate_programmer.jpg %}

I’ve known Chad Fowler for almost ten years. He’s a seriously good
guy: musician, developer, leader, and friend. So when he came to me
some years ago with an idea for a book, I jumped at it. I was hoping
for something good, but what we got was something truly great.


Andy and I wrote _The Pragmatic Programmer_ over 10 years ago. It was
a book full of advice on the job of programming, from low-level coding
to teams and projects.


Well, Chad had written the companion book. Where our book looked
outward at the job you were doing, <a
href="http://pragprog.com/titles/cfcar2/the-passionate-programmer">The Passionate Programmer</a> looked inward at the person doing the
work. It’s a book about finding fulfillment in what you do. It’s a
book about rekindling the fires that you felt when you first entered
the profession. It’s a book about creating a career, rather than
turning up for a job.


I was blown away.


And then I did something really stupid. The book came out about 5
years ago, and outsourcing was big on everyone’s mind. So I thought
“let’s make a jokey title that’ll grab people’s attention.” I called
the book _My Job Went to India (And All I Got Was This Lousy book)_. 
I’ve already <a
href="http://pragdave.blogs.pragprog.com/pragdave/2007/07/the-joy-of-titl.html">blogged</a> about
how stupid that was—it was probably the single dumbest thing I’ve done
since I got into publishing. The title put people off; it gave them
the wrong idea. The book was really nothing to do with outsourcing,
but you wouldn’t know it from the cover. This book deserved so much
better


So, four years later, we revisited the book. Chad’s given it a spring
cleaning, revising and updating it. And we gave it a new title and a
new cover, both of which do a better job of conveying the energy and
enthusiasm that lie within.


I’m not into selling: my philosophy with our books is “if they’re
good, people will buy them.” But this book is different. I really
think it can make a difference. So I’d love for you to <a
href="http://pragprog.com/titles/cfcar2/the-passionate-programmer">read the extracts</a> and maybe take this book home with you. I honestly
think you’ll thank me (and, most importantly, Chad) if you do.

