---
layout: post
title: "Pragmatic Bookshelf Royalty Rates"
date: 2009-10-19
comments: true
tags: [publishing]
---

  
{%imgcap right ./2009-royalties-big.png 2009 Pragmatic Bookshelf Royalties%}
    
When we started the <a href="http://pragprog.com">Bookshelf</a>, we
wanted our authors to share in the success of their books, so we set
our royalty rates to between 40% and 50%. That is, an author will
receive between 40% and 50% of whatever gross profit we make on a
book. We felt back then, and we still feel, that this is the highest
overall royalty offered by any technical publisher (most publishers
offer something in the 10–18% range).

But it isn’t always easy to compare different publishers, because the
definitions of gross profit (or whatever they use) differ wildly. Our
definition is that we take whatever money we receive from the sale of
a book (in whatever form), deduct the direct cost of production (which
is zero for eBooks, and a couple of dollars for paper books), and then
split what’s left according to the royalty rate. We also account for
our costs of copy edit, indexing, and typesetting by splitting them
(again according to the royalty rate) between the author and us. So if
a book costs $5,000 to copy edit, index, and typeset, and we’re paying
50% royalties, then the author’s royalty account starts with a $2,500
negative balance.

We don’t pay advances, but we do pay royalties quarterly. If a book
enters our beta program, the author starts receiving the royalties at
the end of the quarter.

In the last few years, we’re had a number of prospective authors tell
us that other publishers woo them by saying that our 40–50% royalties
are somehow illusory—that by the time the author gets a payment the
figures have somehow been shaved down to the point where we pay the
same as everyone else. And that’s just <a
href="http://en.wikipedia.org/wiki/Fear,_uncertainty_and_doubt">FUD</a>.

So, in order to help people compare, attached is a chart. It shows the
royalties we’ve paid so far on our titles that have been in print for
at least a year. Eight percent of the titles have earned less than
$10k. Several of these are vanity titles we produced on behalf of
private companies, the others are books that sold into very specific,
narrow niches (because we felt someone should do it, and even at these
low volumes we can do so profitably).  Ninety-two percent of our
titles paid more than $10k in royalties, and forty-two percent paid
more than $50k. Twelve percent earned into six figures.

I’d welcome publishers who talk down our royalty payment schedules to
publish their figures. I know many will have some titles that earn a
lot more than $400k. But I’d be most interested in the
distribution—how much does a typical author make? I’m proud of the
fact that we’ve set up an environment where authors of good books can
earn back at least a reasonable portion of the investment they made in
writing.

