---
pageable: true
per_page: 6
title:    Blog Posts
---

<%= partial 'shared/topbar' %>

<header>
  <a class="scroll-down icon-arrow-left"
     href='#content'
     data="{offset: '-45'}">
    <span class="hidden">Scroll Down</span>
  </a>
</header>

<main id="content" class="content" role="main">
  <section class="row">
    <div class="col-sm-9" >
      <%=
      partial('shared/page_articles',
              locals: { page_articles: page_articles, paginate: paginate })
      %>
    </div>
    <div class="col-sm-3 blog-nav" >
      <%= full_blog_navigation_list %>
    </div>
  </section>
</main>
