.legal {
    font-size: 70%;
    line-height: 120%;
    color: #aaa;
    margin: 2rem 0;
}

.headshot {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    
    font-size: 80%;
    line-height: 100%;
            
    td, th {
        padding: 0.4rem 0.7rem;
        text-align: right;
    }
    
    td:nth-child(1), th:nth-child(1) {
        text-align: left;
    }

    th {
        background: $primary-color;
        color:      white;
    }
}

.vcard {
    font-size: 160%;
    margin-top: 10%;
    a {
        display: block;
    }
    div, a {
        margin-bottom: 1em;
    }
}
