ul.post-list {
    list-style: none;
    
    li {
        margin-top: 0.5em;
        margin-bottom: 0;
        text-indent: -8em;
    }

    .post-summary-date {
        float: left;
        width: 8em;
        color: #aaa;
        font-size: x-small;
        white-space: nowrap;
    }
}

.post {
    .post-title {
        margin: 2rem 0 0 0;
    }

    .post-meta {
        color: lighten($primary-color, 0%);
    }

    .post-content {
        margin-top: 2rem;

    }

    img.right {
        float: right;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 1rem solid #ccc;
        margin: 1.5em 0;
        padding: 0.5em 10px;
        font-family: Georgia, "Times New Roman", Times, serif;
        line-height: 1.8em;
    }


    blockquote p {
        margin-top: 0.7em;

        &:first-child {
            display: inline;
        }
    }
}

.post-index {
    .post-date {
        display: inline-block;
        width: 8em;
    }

    dt {
        margin-top: 1.5em;
    }
}

.related {
    margin-top: 40%;

    h4 {
        font-size: 1rem;
        color: $primary-color;
    }

    ul {
        margin: 0;
        padding: 0;

        list-style: none;
        font-size: 70%;
        line-height: 1.8em;

        small {
            display: inline-block;
            width: 8em;
        }
    }
}
