.post-tag {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:before {
        content: "\f02b";
        font-family: FontAwesome;
        padding-right: 0.5em;
    }
}

.tags-expo {
    .tags-expo-list {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 0.8em;
        }
    }

    .tags-expo-posts {
        list-style: none;

        small {
            display: inline-block;
            width: 8em;
        }


    }
}
