.article-index {
    margin-top: 3rem;

    .taglist {
        text-align: right;
        font-size: 90%;
        ul {
            border-right: 1px solid rgba(106,159,181,0.15);
        }
    }
}

.post-tag {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:before {
        content: "\f02b";
        font-family: FontAwesome;
        padding-right: 0.5em;
    }
}

.tag-listing {
    padding-top: 2rem;

    .just-tags {
        line-height: 2rem;
        font-size:   1rem;
        margin-bottom: 3rem;

        .post-tag {
            margin-bottom: 0.5rem;
        }
    }

    h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    h2 {
        color: darken(#6a9fb5, 20%);
        margin-top: 1.2rem;
        font-size: 1.2rem;
        &:before {
            color: #6a9fb5;
            content: "\f02b";
            font-family: FontAwesome;
            padding-right: 0.5em;
        }
    }

    h3 {
        margin: 0;
        font-size: 1.0rem;
    }

}

.tags-expo {
    .tags-expo-list {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 0.8em;
        }
    }

    .tags-expo-posts {
        list-style: none;

        small {
            display: inline-block;
            width: 8em;
        }


    }
}
