@import "bootstrap/scss/bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";

$background-green: #417663;
$primary-color: $background-green;

/* Sticky footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 80px;
    line-height: 1.8rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



.main-header {
    margin-top: 1rem;

    .heading-box {
        width: 100%;
    }

    .bar {
        background: url(image_path("banner-background-bar.png")) repeat-x;
        height: 109px;

        .logo {
            width: 139px;
            height: 109px;
            background: url(image_path("gnome-in-circle.png")) no-repeat;
            position: absolute;

            &:hover {
                background: url(image_path("gnome-in-circle-hover.png")) no-repeat;
            }

        }

        h1 {
            margin-left: 145px;
            margin-right: 4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top:  2rem;
            color: #dfd;
            font-size: 2rem;
            text-align: center;
            font-weight: normal;

            @media (max-width: 600px) {
                font-size: 50px;
                padding-top: 20px;
            }
            @media (max-width: 540px) {
                font-size: 30px;
                padding-top: 25px;
            }
        }
    }

    .mh-slug h3 {
        color: $background-green;
        font-size: 0.9rem;
        text-align: right;
        margin: 0;
        line-height: 90%;
        width: 100%;
    }

    #search-trigger {
        position: absolute;
        right: 0.5rem;
        top: 25px;
        button {
            outline: none;
            font-size: 2rem;
            color: lighten($primary-color, 30%);
            background: none;
            border: none;

            &:hover {
                background: darken($primary-color, 10%);
                border-color: darken($primary-color, 10%);
            }
        }
        .word {
            width: 100%;
            color: white;
            font-size: 0.5rem;
            display: block;
            text-align: center;
        }
    }
}

.fp-leader {
    color:      #888;

    h3 {
        font-size: 1rem;
        margin-top: 0;
        text-align: right;
    }
}

.main-navbar {
    font-size: 60%;
    line-height: 60%;
    position: relative;
    top: -3px;
    padding: 0;
    .navbar-nav .nav-item {
        color: lighten($background-green, 50%);
        background: $background-green;
        padding-left: 1rem;
        margin: 0;
        transition: color 0.2s;

        &:hover {
            color: lighten($background-green, 100%);
        }

        &.first {
            padding-right: 0.5rem;
        }
        &.last {
            padding-left: 0.5rem;
        }
    }
}

.main-cards {

    margin-top: 3rem;

    .card-header {
        a.btn {
            position: absolute;
            top: 0.25rem;
            right: 0.5rem;
            width: 5rem;
        }
        padding-right: 6rem;
    }

    .card-deck .card .card-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

    .card-deck > .card > .card-block {
        padding-bottom: 75px;
    }

    h4.card-title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
}





p.alert {
    display: none;
}


@import "code";
@import "info-pages";
@import "posts";
@import "speak";
@import "tags";
