---
layout: default
---
<div class="row legal" >
  <div class="col-md-7 offset-md-5" >
    <p>
      The images referenced from this page are all Copyright © 2017
      David Thomas, and may be used only with permission in writing or via
      email.
    </p>
    
    <p>
      Please copy the image you choose onto your own machine and serve it
      from there. This host does not have much available bandwidth.
    </p>
  </div>
</div>

<div class="row headshot" >
  <div class="col-md-4">
    <img src="/headshots/pragdave_headshot_1_s.png" class="img-fluid" />
  </div>
  <div class="col-md-7 offset-md-1" >
    {% headshot_list pragdave_headshot_1 %}
  </div>
</div>

<div class="row headshot" >
  <div class="col-md-4">
    <img src="/headshots/pragdave_headshot_1_bw_s.png" class="img-fluid" />
  </div>
  <div class="col-md-7 offset-md-1" >
    {% headshot_list pragdave_headshot_1_bw %}
  </div>
</div>

<div class="row headshot" >
  <div class="col-md-4">
    <img src="/headshots/pragdave_headshot_2_s.png" class="img-fluid" />
  </div>
  <div class="col-md-7 offset-md-1" >
    {% headshot_list pragdave_headshot_2 %}
  </div>
</div>

<div class="row headshot" >
  <div class="col-md-4">
    <img src="headshots/pragdave_headshot_2_bw_s.png" class="img-fluid" />
  </div>
  <div class="col-md-7 offset-md-1" >
    {% headshot_list pragdave_headshot_2_bw %}
  </div>
</div>

