---
layout: default
---

<div class="card">
  <div class="card-header">
    <h4 class="card-title text-muted text-center">Online Courses</h4>
    <a href="https://codestool.coding-gnome.com/courses/elixir-for-programmers" class="btn btn-info btn-xs" role="button">
      Catalog
    </a>
  </div>

  <div class="card-block">
    <div class="row" >
      <div class="col-md-3 course-aside">

        <p>
          Dive deep into a topic, learning both <i>how</i>
          and <i>why</i> things work.
        </p>
        <p>
          Written for programmers, the pace is fast and the content skips
          all the basic stuff you already know.
          Each course includes hours of videos, course notes, quizzes,
          exercises, and sample code.
        </p>
        <p>
          <a class="btn btn-lg btn-primary btn-block"
             href="https://codestool.coding-gnome.com/courses/elixir-for-programmers">
            Learn More!
          </a>.

      </div>
      <div class="col-md-8 offset-md-1 new-course">
        <h3 style="color: #a602d3">Elixir for Programmers, 2<sup>nd</sup> edition</h3>
        <p>
          You're a programmer, and you want to learn Elixir, Phoenix, and LiveView.
          You don't want to sit through lessons on syntax or lists of library
          functions. You want to know where stuff goes, what it does, and how to
          exploit Elixir's unique features.
        </p>
        <p>
         Let me show you just how great Elixir is. You'll build a simple
         game engine using two separate components, and turn it into a
         service. Then you'll add three different front ends: a console
         client, an HTML client, and a LiveView SPA client. Along the
         way you'll see how the functional nature of Elixir, combined
         with the unique distributed nature of the underlying runtime,
         let you do all of this in a module, scalable, and elegant way.
        </p>
        <p style="font-size: 60%">Rated: 4.8/5 stars (first
        edition)</p>
        <div class="embed-responsive embed-responsive-16by9">

          <iframe src="https://muse.ai/embed/RSf2ynB?search=0&links=0&logo=0" width="576" height="324" frameborder="0" allowfullscreen></iframe>


        </div>
        <p>
          <a class="btn btn-lg btn-primary btn-block"
             href="https://codestool.coding-gnome.com/courses/elixir-for-programmers-2">
            Learn More!
          </a>
      </div>
    </div>
  </div>
</div>

<div class="card-deck-wrapper main-cards">
  <div class="card-deck">


    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="card-title text-muted text-center">Talks and Conversations</h4>
        <a href="/speak.html" class="btn btn-info btn-xs" role="button">
          Index
        </a>
      </div>
      {% asset dave-thomas-speaking.jpg class="img-fluid" src="" alt="Dave Thomas speaking" %}
      <div class="card-block">
        <p class="card-text">
          One of the ways I clarify my thoughts is to stand up in
          front of people and try to explain them. Here are a few recent examples:
        </p>

        <ul>
          {% for talk in site.data.media limit: 5 %}
          <li>
            <a href="/speak.html#{{ talk.title | slugify }}">
              {{ talk.title }}
              {% if talk.sub %}
                <small>({{ talk.sub }})</small>
              {% endif %}
            </a>
          </li>
          {% endfor %}
          <li>. . .</li>
        </ul>

        <p>
          I've also collected a
          <a href="/speak.html" >more complete list</a> of
          some of the conference talks, videos, and podcast interviews.
        </p>
      </div>
    </div>

    <div class="card card-outline-info">
      <div class="card-header">
        <a href="/blog/" class="btn btn-info btn-xs" role="button">
          Posts
        </a>
        <h4 class="card-title text-muted text-center">Articles & Posts</h4>
      </div>
      {% asset keyboard-small.png class="img-fluid" alt="a keyboard" %}
      <div class="card-block">
        <p class="card-text">
          I don't always blog, but when I do, you'll find it
          <a href="/blog/" >here</a>.
        </p>
        <h6>Some recent posts…</h6>
        <ul class="">
          {% for post in site.posts limit: 5 %}
          <li>
            <a href="{{ post.url }}">
              <small class="post-date">{{ post.date | date_to_string }}</small>
              {{ post.title }}
            </a>
          </li>
          {% endfor %}
          <li>. . .</li>
        </ul>
      </div>
    </div>
  </div>
</div>
