---
layout: default
---

{% assign size = "320x180" %}

<div class="card-deck-wrapper main-cards">
  <div class="card-deck">

    <div class="card card-outline-success" style="display: none">
      <div class="card-header">
        <h4 class="card-title text-muted text-center">Courses</h4>
      </div>
      <img class="img-fluid" src="http://placehold.it/{{ size }}" alt="">
      <div class="card-block">
        <p class="card-text">
          Dive deep into a topic, learning both <i>how</i>
          and <i>why</i> things work. Each course includes hours of
          videos, course notes, quizzes, exercises, and sample code.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-info btn-xs" role="button">
          Sample
        </a>
        <a href="#" class="btn btn-default btn-xs" role="button">Catalog</a>
      </div>
    </div>

    <div class="card card-outline-warning">
      <div class="card-header">
        <h4 class="card-title text-muted text-center">Talks and Conversations</h4>
      </div>
      {% image dave-thomas-speaking.jpg class="img-fluid" src="" alt="Dave Thomas speaking" %}
      <div class="card-block">
        <p class="card-text">
          One of the ways I clarify my thoughts is to stand up in
          front of people and try to explain them. Here are a
          collection of conference talks, videos, and podcast
          interviews.
        </p>
      </div>
      <div class="card-footer">
        <a href="/speak" class="btn btn-info btn-xs" role="button">
          View the list
        </a>
      </div>
    </div>

    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="card-title text-muted text-center">Articles & Posts</h4>
      </div>
      {% image keyboard-small.png class="img-fluid" alt="a keyboard" %}
      <div class="card-block">
        <p class="card-text">
          I don't always blog, but when I do, you'll find it here.
        </p>
      </div>
      <div class="card-footer">
        <a href="/blog" class="btn btn-info btn-xs" role="button">
          Index
        </a>
      </div>
    </div>
  </div>
</div>
