---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="row">
    <div class="col-md-4">
      <div class="related" >
        <h4>You might like:</h4>
        {% include related.html %}
      </div>
    </div>
    <div class="col-md-8">
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
        </time>
        {% if page.tags %} | 
        {% for tag in page.tags %}
        <a href="{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
        {% endif %}

      </p>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
    </div>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
