---
layout: page
title:  Contact Me
---

<%= partial '/shared/topbar' %>

    <address class="card vcard">
      <div class="card-header" >
        <h2><a class="url fn" href="http://pragdave.me">Dave Thomas</a><br/></h2>
      </div>

      <dl class="card-block" >
          <dt>email:</dt>
          <dd>
            <p>
              <a class="email" href="mailto:dave@pragprog.org">dave@pragprog.org</a>
            </p>
          </dd>

          <dt>phone:</dt>
          <dd>
            <p>
              <a rel="me"  class="url tel" href="tel:1-214-233-6543">+1 214 233 6543</a>
              <span class="hint" >
                I'm on US Central Time (GMT -6)
              </span>

            </p>
          </dd>

          <dt>twitter:</dt>
          <dd>
            <p>
              <a rel="me" class="url" href="http://twitter.com/pragdave">@pragdave</a>
            </p>
          </dd>
      </dl>

    </address>
