---
pageable: false
layout:   page
title:    ""
override_class: home-page
---

<img class="img-fluid center-block"
     style="max-height: 90vh; height: 90vh; width: auto; margin-top: 10vh"
     src="/images/gnome-standing.png"
     title="A garden gnome. Is it whimsy? A metaphor? What does it all mean?">

<aside class="hometext" >
  <h4>@pragdave</h4>

  <nav>
    <ul>
      <li><a href="/blog">blog</a></li>
      <li><a href="/speak">talks</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </nav>
</aside>

