// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


.footnotes {
  font-size: 70%;
  line-height: 1.2em;;
  color: #666;

  p {
    margin-bottom: 0.4em;
  }
}