// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


header[role=banner] h2, h1.entry-title {
    font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1.entry-title {
  color: rgb(51,51,51);
}               

.footnotes {
  font-size: 70%;
  line-height: 1.2em;;
  color: #666;

  p {
    margin-bottom: 0.4em;
  }
}

@mixin reset-shadow-box() {
  @include shadow-box(0px, 0px, 0px);
}

article {
  img, video, .flash-video, .caption-wrapper {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
    &.caption {
      @include reset-shadow-box;
    }
  }
  .caption-wrapper {
    display: inline-block;
    margin-bottom: 0.2em;
    .caption-text {
      background: #fff;
      text-align: center;
      font-size: 60%;
      color: #666;
      display: block;
    }
  } 
}

.dt-audio {
  float: right;
  margin-left: 1em;
  margin-bottom: .75em;  

  .dt-cover {
    @include shadow-box;
    background: #dde;
    text-align: center;
    img {
    }
  }        
}

blockquote {
  font-size: 80% !important;
  color: #505058;
}

ul#recent_posts {
  font-size: 80%;

  li {
    margin-bottom: 0em;
    margin-top: 0em;
    padding: 0;
    border: none;
  }
}